<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhy.interview.mapper.TitleMapper">

    <resultMap type="com.zhy.interview.entity.Title" id="TitleMap">
        <result property="id" column="id"/>
        <result property="questionType" column="question_type"/>
        <result property="difficulty" column="difficulty"/>
        <result property="tag" column="tag"/>
        <result property="titleName" column="title_name"/>
        <result property="explains" column="explain"/>
        <result property="remarks" column="remarks"/>
        <result property="userId" column="user_id"/>
        <result property="createTime" column="create_time"/>
        <result property="pageViews" column="page_views"/>
        <result property="collectionNumber" column="collection_number"/>
        <result property="messageNumber" column="message_number"/>
    </resultMap>
</mapper>

