<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhy.interview.mapper.UserMapper">

    <resultMap type="com.zhy.interview.entity.User" id="UserMap">
        <result property="id" column="id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="sex" column="sex"/>
        <result property="headUrl" column="head_url"/>
        <result property="score" column="score"/>
        <result property="member" column="member"/>
        <result property="createTime" column="create_time"/>
        <result property="interest" column="interest"/>
    </resultMap>
</mapper>

